<nav class="nav nav-pills">
  <ul class='left'>
    <li>
      <strong>Ticketing</strong>
      <%= link_to 'Projects', projects_path %>
      <%= link_to 'Tickets', tickets_path %>
      <%= link_to 'Tags', tags_path %>
      <%= link_to 'Log In', '/login' %>
      <%= link_to 'Sign Up', new_user_path %>
    </li>
  </ul>
  <p id='notice'></p>
  <p id='alerts'></p>
</nav>
  
