<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope='col'>Name</th>
      <th scope='col'>Assignee</th>
      <th scope='col'>Status</th>
      <th scope='col'>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% ticket_obj.each do |ticket| %>
      <tr scope='row'>
        <td>
          <%= link_to ticket.name, ticket_path(ticket.id) %>
        </td>
        <td>
          <% if ticket.assignee %>
            <%= User.find(ticket.assignee).name %>
          <% end %>
        </td>
        <td>
          <%= format_status(ticket) %>
        </td>
        <td>
          <% if ticket.tags.size > 0 %>
            <%= ticket.tags.map { |tag| tag.name }.join(', ') %>
          <% end %>
        </td>
        <td>
          <p>
            <%= link_to 'Edit', edit_ticket_path(ticket.id) %> |
            <%= link_to 'Delete', ticket_path(ticket.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

