<%= render 'shared/navigation' %>

<%= render 'shared/content_title', title: 'Editing Ticket' %>

<%= render 'form' %>

<div class='text-center mt-2'>
  <%= link_to 'Show Ticket', ticket_path %> | <%= link_to 'Back to Tickets', tickets_path %>
</div>