<%= render 'shared/navigation' %>

<%= render 'shared/content_title', title: 'Tickets' %>

<%= render 'filter' %>

<%= render 'shared/tickets', ticket_obj: @tickets %>

<div class='text-center'>
  <%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-primary' %>
</div>
