<%= render 'shared/navigation' %>
<%= render 'shared/content_title', title: 'Showing Ticket: ' + @ticket.name %>

<p><%= @ticket.body %></p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Creator</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= format_status(@ticket) %></td>
      <td><%= User.find(@ticket.creator_id).name %></td>
      <td>
        <% if @ticket.assignee %>
          <%= User.find(@ticket.assignee).name %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<h4>Comments</h4>

<% if @ticket.comments.size > 0 %>
  <% @ticket.comments.each do |comment| %>
    <div>
      <div>
        <%= comment.body %><br/>
        <p class='font-weight-lighter'>posted by <%= User.find(comment.creator).name %> 
        XXX days ago<%= comment.created_at == comment.updated_at ? '' : ' - (edited)'%></p>
      </div>
      <div>
        <% if comment.creator == current_user.id.to_s %>
          <p>
            <%= link_to 'Edit', edit_ticket_comment_path(@ticket.id, comment.id) %> | 
            <%= link_to 'Delete', ticket_comment_path(@ticket.id, comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No comments to display</p>
<% end %>

<%= render 'comments/form', ticket_obj: @ticket, comment_obj: @comment %>