<%= render 'shared/navigation' %>
<%= render 'shared/content_title', title: @ticket.name %>

<p><%= @ticket.body %></p>

<div>
  <strong>Tags:</strong>
  <% if @ticket.tags.size > 0 %>
    <%= @ticket.tags.map { |tag| tag.name}.join(', ') %>
  <% else %>
    <%= link_to 'Add a Tag', edit_ticket_path(@ticket.id) %>
  <% end %>
</div>

<%= link_to 'Edit', edit_ticket_path(@ticket.id) %>
<%= link_to 'Destroy', ticket_path(@ticket), method: :delete, data: { confirm: 'Are you sure?' } %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Creator</th>
      <th>Assignee></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= format_status(@ticket) %></td>
      <td><%= %></td>
      <td><%= %></td>
    </tr>
  </tbody>
<table>