<%= render 'shared/navigation' %>

<%= render 'shared/content_title', title: 'Editing Project' %>

<%= render 'form' %>

<p>
  <%= link_to 'Show Project', project_path %> | <%= link_to 'Back to Projects', projects_path %>
</p>