<%= render 'shared/navigation' %>

<%= render 'shared/content_title', title: 'Editing Project: ' + @project.name %>

<%= render 'form' %>

<p class='text-center mt-3'>
  <%= link_to 'Show Project', project_path %> | <%= link_to 'Back to Projects', projects_path %>
</p>