<%= render 'shared/navigation' %>

<%= render 'shared/content_title', title: 'Projects' %>

<table class='table table-cell-padding'>
  <thead>
    <tr>
      <th >Name</th>
      <th class='number'>Open Tickets</th>
      <th class='number'>Total Tickets</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.name, project_path(project.id) %><br>
          <%= project.description%>          
        </td>
        <td>
          <%= project.tickets.size - project.tickets.where(status: 'fixed' ).size %>
        </td>
        <td>
          <%= project.tickets.size %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path %>