<%= render 'shared/navigation' %>

<%= render 'shared/content_title', title: 'New Project' %>

<%= render 'shared/errors', obj: @project %>

<%= render 'form' %>

<div class='text-center mt-3'>
  <%= link_to 'Back to Projects', projects_path %>
</div>