<%= render 'shared/navigation' %>

<%= render 'shared/content_title', title: 'Editing Tag' %>

<%= render 'shared/errors', obj: @tag %>

<%= render 'form' %>

<div class='text-center mt-3'>
  <%= link_to 'Back To Tags', tags_path %>
</div>